<!-- //- extends layout

//- block content
//-   h1= message
//-   h2= error.status
//-   pre #{error.stack} -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <title>出错啦</title>
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/index.css">
        <script src="/public/javascripts/index.js"></script>
    </head>
    <body>
        <div class="col-12">
            <img class="header" src="/public/images/index/head.png" alt="图像加载失败">
        </div>
        <!-- <h2><%=msg%></h2> -->
    </body>
</html>