<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>高校学生资金综合管理平台</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/paymentOrder.css">
	<script src="javascripts/home.js"></script>
</head>
<body>
	<div class="col-12">
		<img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div class="menu">  <!-- class选择器 -->
        <div class="nav">
            <ul>    <!-- ul标签 -->
                <li><a href= "/home" style="background-color:rgb(52, 152,219)">首页</a></li>  <!-- li标签 -->
                <!-- <%= user.arr.homeHref%> -->
                <li><a href="/paymentOrder">缴费订单</a></li>
                <li><a href="/orderRecord">订单记录</a></li>
                <li><a href="/loginOut">注销登录</a></li>
            </ul>
        </div>
    </div>
    <div>
        <%-body%>
    </div>
    <!-- <div id="lsx">
        版权所有-©lsx 2020
    </div> -->
</body>

        