<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账户退出登录</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/paymentOrder.css">
    <script src="javascripts/changePasswordOK.js"></script>
</head>

<body>
    <div class="col-12">
        <img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div class="menu">
        <div class="nav">
            <ul>
                <li><a>首页</a></li> 
                <li><a>缴费订单</a></li>
                <li><a>订单记录</a></li>
            </ul>
        </div>
    </div>
    <div>
        <table class="mesage_table">
            <tr class="mesage_table">
                <td class="mesage">
                    账户退出登录<br>
                </td>
            </tr>
            <tr>
                <td><img class="line_picture" src="images/home/line.png" alt="图片加载失败">
                </td>
            </tr>
        </table>
    </div>
    <form class="mesage_table">
        <table class="key_table">
            <tr>
                <td></td>
                <td>
                    <p>您的账户成功退出登录</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p id="Time" class="color:blue;">5</p>
                </td>
                <td>
                    <p id="Font">秒后将将跳转至登录页面</p>
                </td>
            </tr>

        </table>

    </form>

</body>

</html>