<!-- 订单确认页 orderConfirm  -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>订单确认</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/orderConfirm.css">
	<!--<script src="javascript/首页.js"></script>-->
</head>
<body>
	<div>
		<img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div class="menu">  <!-- class选择器 -->
        <div class="nav">
            <ul>    <!-- ul标签 -->
                <li><a href="首页.html">首页</a></li>  <!-- li标签 -->
                <li><a href="缴费订单.html" >缴费订单</a></li>
                <li><a href="订单记录.html">订单记录</a></li>
            </ul>
        </div>
    </div>
 
    <div class="payment_table" >
        <table >
            <tr><!--进度条-->
                <td><!--标题-->
                    <p class="payment1">订单确认</p>
                </td>
                <td><!--标题-->
                    <p class="payment2">支付方式</p>
                </td>
                <td><!--标题-->
                    <p class="payment2">支付确认</p>
                </td>
                <td><!--标题-->
                    <p class="payment2">支付结果</p>
                </td>
            </tr>
        </table>
        hhhwheifhuwiae
    </div>
    <div id="订单总额">
        订单总额：元
    </div>
    <div>
        <a href="支付方式.html"><button class="提交订单">提交订单</button></a>
    </div>
   
</body>
</html>