<!-- 订单确认页 orderConfirm  -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单确认</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/paymentOrder.css">
    <script src="javascripts/orderConfirm.js"></script>
</head>

<body>
    <div>
        <img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div class="menu">
        <div class="nav">
            <ul>
                <li><a href="/home">首页</a></li>
                <li><a href="/paymentOrder">缴费订单</a></li>
                <li><a href="/orderRecord">订单记录</a></li>
                <li><a href="/scholarshipRecord">奖学金发放信息</a></li>
                <li class="stuname">欢迎您：<font color="lightblue"><%= studentName%></font> 同学</li>
                <li style="float:right"><a href="/loginOut"><img class="loginout_picture" src="images/home/Out.png" alt="图片加载失败">注销登录</a></li>
            </ul>
        </div>
    </div>

    <div class="payment_table">
        <table>
            <tr>
                <!--进度条-->
                <td>
                    <p class="payment1">&#12288 订单确认 &#12288</p>
                </td>
                <td>
                    <p class="payment2">&#12288 提交结果 &#12288</p>
                </td>
                <!-- <td>
                    <p class="payment2">&#12288 支付确认 &#12288</p>
                </td>
                <td>
                    <p class="payment2">&#12288 支付结果 &#12288</p>
                </td> -->
            </tr>
        </table>
    </div>
    <% if(keys == undefined){ %>
    <div class="payment_table">
        <table class="mesage_table">
            <tr class="mesage_table">
                <td class="mesage" style="color: rebeccapurple;font-size:small;">
                    您暂时没有选缴商品哦~<br>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <a href="/optionalOrder"><button class="提交订单">返回</button></a>
    </div>
    <% }else{ %>
    <!-- <form name="FtbMain" action="/orderConfirm" method="POST"> -->
    <!-- <form name="FtbMain" > -->
    <div class="payment_table">
        <table class="confirm" id="confirmTB">
            <thead>
                <tr class="confirm" style="color: rgb(89, 166, 218);">
                    <th>商品编号</th>
                    <th>商品名称</th>
                    <th>商品属性1</th>
                    <th>商品属性2</th>
                    <th>商品属性3</th>
                    <th>数量</th>
                    <th>单价(元)</th>
                    <th>子订单总额(元)</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tbMain"></tbody>
        </table>
        <p id="please" style="text-align: right;">此处为“购物车”数据，确认“购物车”商品后请点击“提交订单”按钮，正式生成订单，即可继续完成缴费流程。</p>
    </div>

    <div id="订单总额">
        <!-- 购物车总额：元 -->
    </div>
    <div>
        <a href="/optionalOrder"><button class="提交订单">返回</button></a>
    </div>
    <form name="submitDataForm" id="submitDataForm" action="/orderConfirm" method="POST">
        <input type='text' style="display:none" name="submitData" id="submitData" value=""/>
    </form>
    <div>
        <!-- <button class="提交订单">提交订单</button> -->
        <button class="提交订单" type="submit" onclick="submitOrder()">提交订单</button>
    </div>

    <% } %>
    <div id="lsx">
        版权所有-©苏州大学数学科学学院校级大创项目组 2020
    </div>
</body>

</html>
<script> var getKeys = '<%= keys %>';</script>

<script>if (!(getKeys.length == 0)) {
        getGoods(getKeys);
    }
</script>