<!-- 必缴订单页 requiredOrder  -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>必缴订单</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/requiredOrder.css">
	<!--<script src="javascript/首页.js"></script>-->
</head>
<body>
	<div>
		<img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div class="menu">  <!-- class选择器 -->
        <div class="nav">
            <ul>    <!-- ul标签 -->
                <li><a href="/home">首页</a></li>  <!-- li标签 -->
                <li><a href="/paymentOrder" style="background-color:rgb(52, 152,219)">缴费订单</a></li>
                <li><a href="/orderRecord">订单记录</a></li>
            </ul>
        </div>
    </div>
    <div>
        <table class="mesage_table" >
            <tr class="mesage_table"><!--标题及密码修改-->
                <td class="mesage"><!--标题-->
                    必缴订单查看页<br> 
                </td>
                <td id="please">请至“订单记录”页面支付必缴订单！</td>
            </tr>
            <tr><td><img class="line_picture" src="images/home/line.png" alt="图片加载失败"></td></tr>

            
        </table>
    </div>
    <table class="order_table" name="keyPassage">
        <thead>
            <tr>
                <!-- <th>订单编号</th> -->
                <th>交易单号</th>
                <th>交易金额</th>
                <th>创建时间</th>
                <th>订单支付状态</th>
            </tr>
        </thead>
        <tr>
            <td>内容</td>
        </tr>
    </table>
        
    <div>
        <a href="/paymentOrder"><button class="必缴返回">返回</button></a>
    </div>
</body>
</html>