<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密码修改页</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/paymentOrder.css">
    <script src="javascripts/changePassword.js"></script>
</head>

<body onload="createCode()" style="background: url('images/teacher/back.png') no-repeat;background-size: cover;">
    <div class="col-12">
        <img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div class="menu">
        <ul class="Tnav">
            <li><a href="/Thome">首页</a></li>
            <li><a href="/TstudentInfoAdmin">学生信息管理</a></li>
            <li><a href="/TgroupInfoAdmin">商户集团管理</a></li>
            <li><a href="/TcorpInfoAdmin">供应商管理</a></li>
            <li><a href="/TproductListAdmin">缴费项目管理</a></li>
            <li><a href="/TallOrdersAdmin">缴费订单管理</a></li>
            <li><a href="/TpaymentRecordsAdmin">缴费记录管理</a></li>
            <li><a href="/TstockListAdmin">供货管理</a></li>
            <li><a href="/TcoursePlansAdmin">教材计划管理</a></li>
            <li><a href="/TclearInfoAdmin">清算统计</a></li>
            <li><a href="/TscholarshipInfoAdmin">资金发放管理</a></li>
            <li><a href="/TloginOut"><img class="loginout_picture" src="images/home/Out.png" alt="图片加载失败">注销登录</a></li>
    </div>
    <div>
        <table class="teacher_mesage_table">
            <tr class="teacher_mesage_table">
                <!--标题及密码修改-->
                <td class="mesage">
                    <!--标题-->
                    密码修改<br>
                </td>
            </tr>
            <tr>
                <td><img class="line_picture" src="images/home/line.png" alt="图片加载失败">
                </td>
            </tr>
        </table>
    </div>
    <form class="teacher_mesage_table" action="/TchangePassword" name="keyPassage" method="post">
        <table class="key_table">
            <tr class="key_passage">
                <td>账号:</td>
                <td><input type="text" name="account" style="width:150px;"><br></td>
                <td>&#12288&#12288&#12288&#12288&#12288</td>
            </tr>
            <tr class="key_passage">
                <td>输入旧密码:</td>
                <td><input type="password" name="old_password" style="width:150px;"><br></td>
            </tr>
            <tr class="key_passage">
                <td>输入新密码:</td>
                <td><input type="password" name="new_password" style="width:150px;"><br></td>
            </tr>
            <tr class="key_passage">
                <td>再次输入新密码:</td>
                <td><input type="password" name="new_again_password" style="width:150px;"><br></td>
            </tr>
        </table>
    </form>
    <form class="teacher_code_table" style="opacity: 0.8;">
        <table class="key_table" style="height: 20px;">
            <tr class="key_passage">
                <td>&#12288 &#8197 &#8197验证码:</td>
                <td><input type="text" name="vertify_code" id="codeinput" style="width:150px;"><br></td>
                <td><button class="code" onclick="createCode()" id="code">验证码</button></td>
            </tr>
        </table>
    </form>
    <input type="submit" name="change" onclick="return changeForm()" value="确定">
    <div id="lsx">
        版权所有-©苏州大学数学科学学院校级大创项目组 2020
    </div>
</body>

</html>