<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账户退出登录</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/paymentOrder.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="javascripts/TchangePasswordOK.js"></script>
</head>

<body style="background: url('images/teacher/back.png') no-repeat;background-size: cover;">
    <div class="col-12">
        <img class="header" src="images/index/head.png" alt="图像加载失败">
    </div>
    <div>
        <ul class="Tnav">
            <li><a>首页</a></li>
            <li><a>学生信息管理</a></li>
            <li><a>集团管理</a></li>
            <li><a>供应商管理</a></li>
            <li><a>缴费项目管理</a></li>
            <li><a>缴费订单管理</a></li>
            <li><a>缴费记录管理</a></li>
            <li><a>供货管理</a></li>
            <li><a>教材计划管理</a></li>
            <li><a>清算统计</a></li>
            <li><a>资金发放管理</a></li>
        </ul>
    </div>
    <div>
        <table class="teacher_mesage_table">
            <tr class="teacher_mesage_table">
                <td class="mesage">
                    账户退出登录<br>
                </td>
            </tr>
            <tr>
                <td><img class="line_picture" src="images/home/line.png" alt="图片加载失败">
                </td>
            </tr>
        </table>
    </div>
    <form class="teacher_mesage_table">
        <table class="key_table">
            <tr>
                <td></td>
                <td>
                    <p>您的账户成功退出登录</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p id="Time" class="color:blue;">3</p>
                </td>
                <td>
                    <p id="Font">秒后将将跳转至登录页面</p>
                </td>
            </tr>

        </table>

    </form>
    <div id="lsx">
        版权所有-©苏州大学数学科学学院校级大创项目组 2020
    </div>

</body>

</html>