*
{
    box-sizing: border-box;
}
table {margin: auto;}
body{
	display:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
    margin:auto;
    background-color: rgb(242,242,242)
}
.header{
	display:inline-block;
    width:100%;
    margin-bottom:-16px;
}
/*以下为导航栏*/
ul{ 
    list-style-type:none; /* ul前面的点  */
}
*
{
    margin:0px 0px;     /* 到边框的距离 */
}
.menu{
    background-color: rgb(18, 41,62) /* 导航条背景的颜色  */ 	
}
.nav{
    text-align:center; 	/* 导航栏文字的位置  */
    width:700px; 	/* 和文字宽度有关，不能小于文字宽度的总和  */
    height:30px; 	/* 导航栏的宽度  */
}
.nav a{
    float:left;				 /* 导航栏的位置配置 */
    width:140px;			 /* 选中的文字块的长度  */
    line-height:30px; 		         /* 选中的文字块的宽度  */
    text-decoration: none;               /* 去掉连接下划线  */
    font-size:12px;			 /* 字体大小 */
    color: white;			 /* 字体颜色 */
    background-color: rgb(18, 71,107)
}
.nav li a:hover{
    background-color:rgb(52, 152,219);	        /* 选中的文字块的颜色 */
    text-decoration:none;		/* 选中时去掉连接下划线 */	
}
.nav li a:link{
    text-decoration:none; /* 连接被点之后没有下划线  */
}

#main {
    /*div居中*/
    margin:0 auto;
    background-color: rgb(242,242,242);
    width: 70%;
    font-size: 13px;
    /*div垂直居中
    position: absolute;
    width:400px;
    height:200px;
    left:50%;
    top:50%; 
    margin-left:-200px;
    margin-top:-100px;
    border:1px solid #00F */
} 
#must{
    margin-top: 5%;
    background-color: white;
    width: 45%;
    float:left;
    text-align: center;
    border:1px solid rgb(179, 179, 179);
    border-radius: 4px;
}
#opt{
    margin-top: 5%;
    background-color: white;
    width: 45%;
    float:right;
    text-align: center;
    border:1px solid rgb(179, 179, 179);
    border-radius: 4px;
}

.picture{
    padding-top: 10%;
    width: 40%;
    margin: 0 auto;
    position: relative;
    size: 10px;
}
#即时订单总额{
    margin-top: 30px;
    margin-left: 55%;
    margin-right: 200px;
    background-color: blanchedalmond;
    width: 80px;
    float: right;
    color: red;
    font-size: 13px;
}
.支付订单{
    margin-top: 10px;
    margin-left: 55%;
    margin-right: 200px;
    background-color: rgb(52, 152,219);
    width: 80px;
    float: right;
    color:white;
    font-size: 13px;
    border-radius: 4px;
    border:0px;
}