*
{
    box-sizing: border-box;
}
table {margin: auto;}
body{
	display:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
    margin:auto;
    background-color: rgb(242,242,242)
}
.header{
	display:inline-block;
    width:100%;
    margin-bottom:-16px;
}
/*以下为导航栏，勿动*/
ul{ 
    list-style-type:none; /* ul前面的点  */
}
*
{
    margin:0px 0px;     /* 到边框的距离 */
}
.menu{
    background-color: rgb(18, 41,62) /* 导航条背景的颜色  */ 	
}
.nav{
    text-align:center; 	/* 导航栏文字的位置  */
    width:700px; 	/* 和文字宽度有关，不能小于文字宽度的总和  */
    height:30px; 	/* 导航栏的宽度  */
}
.nav a{
    float:left;				 /* 导航栏的位置配置 */
    width:140px;			 /* 选中的文字块的长度  */
    line-height:30px; 		         /* 选中的文字块的宽度  */
    text-decoration: none;               /* 去掉连接下划线  */
    font-size:12px;			 /* 字体大小 */
    color: white;			 /* 字体颜色 */
    background-color: rgb(18, 71,107)
}
.nav li a:hover{
    background-color:rgb(52, 152,219);	        /* 选中的文字块的颜色 */
    text-decoration:none;		/* 选中时去掉连接下划线 */	
}
.nav li a:link{
    text-decoration:none; /* 连接被点之后没有下划线  */
}
/*以下为个人信息标题*/
.mesage_table{/*白色背景框，勿动*/
    width:70%;
    margin: auto;
    padding-top:0px;
    padding-bottom: 30px;
    background-color:white;
}
.mesage{/*蓝色标题，勿动*/
    box-sizing: border-box;
    padding-top:10px;
    text-align:left;
    color: rgb(0, 153,255);
	padding-left:20px;
    padding-bottom:9px;
    width: 190px;
    margin-right: 220px;
}
.line_picture{/*灰色分割线，勿动*/
    position: absolute;
    width:30%;
    margin-bottom:15px;
    padding-top:0px;
    padding-left: 10px;
}
#please{
    color: red;
    font-size: 10px;
    padding-top: 10px;
}
.必缴返回,.确认添加{/*返回按钮*//*添加按钮*/
    margin-top: 10px;
    margin-left: 55%;
    margin-right: 200px;
    background-color: rgb(52, 152,219);
    width: 80px;
    float: right;
    color:white;
    font-size: 13px;
    border-radius: 4px;
    border:0px;
}
.order_table {
    width:70%;
    margin: auto;
    padding-top:0px;
    padding-bottom: 30px;
    background-color:white;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

.order_table td,.order_table th {
    border: 1px solid #cad9ea;
    color: #666;
    font-size: smaller;
    height: 30px;
}

.order_table thead th {
    background-color: #CCE8EB;
    width: 100px;
    font-size: small;
}

.order_table tr:nth-child(odd) {
    background: #fff;
}

.order_table tr:nth-child(even) {
    background: #F5FAFA;
}
